numpy==1.26.3
requests==2.31.0
pillow==10.2.0
moviepy==1.0.3
APScheduler==3.10.4
google-api-core==2.24.0
google-api-python-client==2.156.0
google-auth==2.37.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
googleapis-common-protos==1.66.0
python-telegram-bot==21.9
matplotlib==3.8.2
schedule==1.2.2
